<div class="max-w-md">
    <img src="{{ asset('media/logo.png') }}" alt="logo" class="w-full rounded-md mb-4">
    <h2 class="text-xl font-bold mb-4 text-white">Welcome!</h2>
    <p class="mb-4 text-white">It looks like you don't have any accounts yet. Please create an account to start managing your wallets.</p>

    <twig:Cta
        color="accent-primary"
        size="xs"
        icon="fa-plus"
        label="Create your first account"
        title="Create your first account"
        route="account_new"
    />
</div>
