<button
        @click="activeTab = 'add'"
        :class="{ 'border-b-2 border-accent-primary': activeTab === 'add' }"
        class="text-white font-semibold px-3 py-2"
>
    Add a Friend
</button>
