<div class="flex justify-end mb-4">
    <div class="space-x-2">
        {% if navigationPreviousWallet %}
            <twig:cva:Cta
                color="quaternary"
                size="xs"
                fullWidth="false"
                route="account_wallet_dashboard"
                :routeParams="{
                    year: currentYear,
                    month: navigationPreviousWallet.getMonthNumber(),
                    account: account.id,
                    wallet: navigationPreviousWallet.getWalletId()
                }"
                icon="fa-chevron-left"
                label="Previous"
            />
        {% else %}
            <twig:cva:Cta
                color="quaternary"
                size="xs"
                fullWidth="false"
                icon="fa-chevron-left"
                label="Previous"
                disabled="true"
            />
        {% endif %}

        {% if navigationNextWallet %}
            <twig:cva:Cta
                color="quaternary"
                size="xs"
                fullWidth="false"
                iconPosition="right"
                route="account_wallet_dashboard"
                :routeParams="{
                    year: currentYear,
                    month: navigationNextWallet.getMonthNumber(),
                    account: account.id,
                    wallet: navigationNextWallet.getWalletId()
                }"
                icon="fa-chevron-right"
                label="Next"
            />
        {% else %}
            <twig:cva:Cta
                color="quaternary"
                size="xs"
                fullWidth="false"
                iconPosition="right"
                icon="fa-chevron-right"
                label="Next"
                disabled="true"
            />
        {% endif %}
    </div>
</div>
