<div class="flex justify-end mb-4">
    <div>
        {% if navigationPreviousWallet %}
            <a href="{{ path('account_wallet_dashboard', {
                year: currentYear,
                month: navigationPreviousWallet.getMonthNumber(),
                accountId: account.id,
                walletId: navigationPreviousWallet.getWalletId()
            }) }}" class="bg-secondary text-white py-2 px-4 rounded-md font-bold hover:bg-secondary-hover mr-2 text-xs">
                <i class="fa-solid fa-chevron-left"></i> Previous
            </a>
        {% else %}
            <span class="bg-gray-400 text-white py-2 px-4 rounded-md font-bold cursor-not-allowed mr-2 text-xs">
            <i class="fa-solid fa-chevron-left"></i> Previous
        </span>
        {% endif %}

        <span class="text-xs text-white text-center font-bold bg-accent rounded-md py-2 px-4">{{ wallet.getMonth()|month_name }} {{ wallet.getYear() }}</span>

        {% if navigationNextWallet %}
            <a href="{{ path('account_wallet_dashboard', {
                year: currentYear,
                month: navigationNextWallet.getMonthNumber(),
                accountId: account.id,
                walletId: navigationNextWallet.getWalletId()
            }) }}" class="bg-secondary text-white py-2 px-4 rounded-md font-bold hover:bg-secondary-hover text-xs">
                Next <i class="fa-solid fa-chevron-right"></i>
            </a>
        {% else %}
            <span class="bg-gray-400 text-white py-2 px-4 rounded-md font-bold cursor-not-allowed text-xs">
            Next <i class="fa-solid fa-chevron-right"></i>
        </span>
        {% endif %}
    </div>
</div>
