<div class="grid grid-cols-3 gap-3">
    <div class="flex flex-col">
        {% include 'budget/partial/transaction/_transaction_tab.html.twig' with {'transactions': transactions.bills} %}
    </div>
    <div class="flex flex-col">
        {% include 'budget/partial/transaction/_transaction_tab.html.twig' with {'transactions': transactions.expenses} %}
    </div>
    <div class="flex flex-col">
        {% include 'budget/partial/transaction/_transaction_tab.html.twig' with {'transactions': transactions.debts} %}
    </div>
</div>
