<div class="grid grid-cols-3 gap-3">
    {% include 'budget/partial/transaction/_transaction_tab.html.twig' with {'transactions': transactions.bills} %}
    {% include 'budget/partial/transaction/_transaction_tab.html.twig' with {'transactions': transactions.expenses} %}
    {% include 'budget/partial/transaction/_transaction_tab.html.twig' with {'transactions': transactions.debt} %}
</div>