<div class="flex flex-col items-center justify-center mb-2 p-2 space-y-2">
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <twig:Cta
            color="accent-primary"
            size="xs"
            icon="fa-user-shield"
            label="Admin panel"
            title="Feature not available"
            disabled="true"
            fullWidth="true"
        />
    {% endif %}
    <twig:Cta
        color="accent-primary"
        size="xs"
        icon="fa-user"
        label="Show profile"
        title="Feature not available"
        route="profile_view"
        :routeParams="{ username: app.user.username }"
        fullWidth="true"
    />
</div>
