<div class="flex flex-col items-center justify-center mb-2 p-4">
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <a href="#" class="w-full text-center text-xs font-bold bg-secondary hover:bg-secondary-hover text-white py-2 px-4 rounded-md mb-2 opacity-50 cursor-not-allowed" aria-disabled="true" title="Feature not available">
            <i class="fa-solid fa-user-shield mr-1"></i>
            Admin panel
        </a>
    {% endif %}
    <a href="#" class="w-full text-center text-xs font-bold bg-secondary hover:bg-secondary-hover text-white font-bold py-2 px-4 rounded-md opacity-50 cursor-not-allowed" aria-disabled="true" title="Feature not available">
        <i class="fa-solid fa-user mr-1"></i>
        Show profile
    </a>
</div>
