<div class="flex items-center p-4">
    <div class="w-10 h-10">
        {% if app.user.userInformation and app.user.userInformation.avatarName %}
            <img src="{{ asset('uploads/avatars/' ~ app.user.userInformation.avatarName) }}" alt="Avatar" class="rounded-full w-8 h-8">
        {% else %}
            <img src="{{ asset('media/logo.png') }}" alt="Default Avatar" class="rounded-full w-8 h-8">
        {% endif %}
    </div>

    <div class="ml-3 flex flex-col">
        <span class="text-sm text-dynamic font-bold">
            {{ app.user.username }}
        </span>
        <span class="text-sm text-dynamic">
            {{ app.user.email }}
        </span>
    </div>
</div>
