<div>
    {% if app.user %}
        <div class="flex items-center justify-between">
            <div>
                {% include 'components/topbar/userProfile/_user_dropdown.html.twig' %}
                <div id="js-user-dropdown-menu" class="hidden absolute right-4 mt-2 w-64 bg-quinary rounded-md z-50">
                    {% include 'components/topbar/userProfile/_user_information.html.twig' %}
                    {% include 'components/topbar/userProfile/_main_buttons.html.twig' %}
                    {% include 'components/topbar/userProfile/_menu_items.html.twig' %}
                    {% include 'components/topbar/userProfile/_footer.html.twig' %}
                </div>
            </div>
        </div>
    {% endif %}
</div>