<div class="text-center bg-senary p-6 rounded-md shadow-md w-full max-w-md">
    <img src="{{ asset('media/logo.png') }}" alt="logo" class="w-full rounded-md mb-4">
    <h2 class="text-xl font-bold mb-4">Welcome!</h2>
    <p class="mb-4">It looks like you don't have any accounts yet. Please create an account to start managing your wallets.</p>
    <a href="{{ path('account_new') }}" class="text-center font-bold bg-primary hover:bg-primary-hover text-white py-2 px-4 rounded-md">
        Create your first account
    </a>
</div>