<button
        @click="activeTab = 'friends'"
        :class="{ 'border-b-2 border-accent-primary': activeTab === 'friends' }"
        class="text-white font-semibold px-3 py-2"
>
    Friends
</button>
