<div class="mt-4 flex justify-between">
    <twig:Cta
        color="quaternary"
        size="xs"
        icon="fa-arrow-left"
        label="{{ cancel_label }}"
        route="account_wallet_dashboard"
        :routeParams="{year: transaction.wallet.year, month: transaction.wallet.month, account: accountId, wallet: transaction.wallet.id }"
    />
    <twig:Cta
        color="accent-primary"
        size="xs"
        label="{{ submit_label }}"
        buttonType="submit"
    />
</div>
