<div class="bg-primary px-5 border-b border-solid border-quaternary">
    <div class="flex items-center justify-between">
        {{ include('components/topbar/logo/_logo.html.twig') }}
        {{ include('components/topbar/userProfile/_user_profile.html.twig') }}
    </div>
</div>
