{% extends 'base_no_topbar.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="min-h-screen flex flex-col items-center justify-center">
        <h1 class="text-sm font-bold text-center text-white mb-4">Password Reset Email Sent</h1>
        <div class="bg-tertiary p-8 rounded-md shadow-lg w-full max-w-md text-white text-sm">

            <p class="mb-4 text-white">
                If an account matching your email exists, an email was sent with a link to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>

            <p class="text-white">
                If you don’t receive an email, please check your spam folder or
                <a href="{{ path('app_forgot_password_request') }}" class="text-link hover:underline">try again</a>.
            </p>
        </div>
    </div>
{% endblock %}
