{% extends 'base.html.twig' %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 max-w-4xl mx-auto">
            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border">
                <i class="fa-solid fa-piggy-bank text-white text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-white mb-2">New Account</h2>
                <twig:Cta
                    color="accent-primary"
                    size="xs"
                    icon="fa-plus"
                    label="New Account"
                    route="account_new"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border">
                <i class="fa-solid fa-wallet text-white text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-white mb-2">New wallet</h2>
                <twig:Cta
                    color="accent-primary"
                    size="xs"
                    icon="fa-plus"
                    label="New Wallet"
                    route="wallet_new"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border">
                <i class="fa-solid fa-money-bill-transfer text-white text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-white mb-2">Transfer money</h2>
                <twig:Cta
                    color="accent-primary"
                    size="xs"
                    icon="fa-money-bill-transfer"
                    label="Transfer money"
                    title="Feature not available"
                    disabled="true"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border">
                <i class="fa-solid fa-money-bill text-white text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-white mb-2">New transaction</h2>
                {% if hasWallet %}
                    <twig:Cta
                        color="accent-primary"
                        size="xs"
                        icon="fa-plus"
                        label="New Transaction"
                        route="new_transaction"
                    />
                {% else %}
                    <span>You need to create a wallet first</span>
                {% endif %}
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border">
                <i class="fa-solid fa-tag text-white text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-white mb-2">Transaction tag list</h2>
                <twig:Cta
                    color="accent-primary"
                    size="xs"
                    icon="fa-list"
                    label="Transaction Tags"
                    route="transaction_tag_list"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border">
                <i class="fa-solid fa-tag text-white text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-white mb-2">Messenger</h2>
                <twig:Cta
                    color="accent-primary"
                    size="xs"
                    icon="fa-message"
                    label="Messenger"
                    title="Feature not available"
                    disabled="true"
                />
            </div>
        </div>
    </div>
{% endblock %}
