{% extends 'base.html.twig' %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 max-w-4xl mx-auto">
            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border h-full">
                <i class="fa-solid fa-piggy-bank text-dynamic text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-dynamic mb-2 text-center">New Account</h2>
                <div class="flex-grow mb-2">
                    <twig:InputHelper>Create a new account to store all your wallets related to it.</twig:InputHelper>
                </div>
                <twig:Cta
                    class="mt-auto"
                    color="accent-primary"
                    size="xs"
                    icon="fa-plus"
                    label="New Account"
                    title="Create a new account"
                    route="account_new"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border h-full">
                <i class="fa-solid fa-wallet text-dynamic text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-dynamic mb-2 text-center">New wallet</h2>
                <div class="flex-grow mb-2">
                    <twig:InputHelper>Create a new wallet to store all your transactions related to it.</twig:InputHelper>
                </div>
                <twig:Cta
                    class="mt-auto"
                    color="accent-primary"
                    size="xs"
                    icon="fa-plus"
                    label="New Wallet"
                    title="Create a new wallet"
                    route="wallet_new"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border h-full">
                <i class="fa-solid fa-money-bill-transfer text-dynamic text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-dynamic mb-2 text-center">Transfer money</h2>
                <div class="flex-grow mb-2">
                    <twig:InputHelper>Transfer transaction from your own wallet to another wallet. You can also transfer your transactions to a beneficiary.</twig:InputHelper>
                </div>
                <twig:Cta
                    class="mt-auto"
                    color="accent-primary"
                    size="xs"
                    icon="fa-money-bill-transfer"
                    label="Transfer money"
                    title="Feature not available"
                    disabled="true"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border h-full">
                <i class="fa-solid fa-money-bill text-dynamic text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-dynamic mb-2 text-center">New transaction</h2>
                <div class="flex-grow mb-2">
                    <twig:InputHelper>Create a new transaction. Each transaction is linked to a wallet, which in turn is linked to an account.</twig:InputHelper>
                </div>
                {% if hasWallet %}
                    <twig:Cta
                        class="mt-auto"
                        color="accent-primary"
                        size="xs"
                        icon="fa-plus"
                        label="New Transaction"
                        title="Create a new transaction"
                        route="new_transaction"
                    />
                {% else %}
                    <span class="text-warning text-xs">You need to create a wallet first</span>
                {% endif %}
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border h-full">
                <i class="fa-solid fa-tag text-dynamic text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-dynamic mb-2 text-center">Transaction tag list</h2>
                <div class="flex-grow mb-2">
                    <twig:InputHelper>List all transaction tags you have created. Tags are used to categorize your transactions.</twig:InputHelper>
                </div>
                <twig:Cta
                    class="mt-auto"
                    color="accent-primary"
                    size="xs"
                    icon="fa-list"
                    label="Transaction Tags"
                    title="List all transaction tags"
                    route="transaction_tag_list"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border h-full">
                <i class="fa-solid fa-tag text-dynamic text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-dynamic mb-2 text-center">Messenger</h2>
                <div class="flex-grow mb-2">
                    <twig:InputHelper>Communicate with your friends that are using the app.</twig:InputHelper>
                </div>
                <twig:Cta
                    class="mt-auto"
                    color="accent-primary"
                    size="xs"
                    icon="fa-message"
                    label="Messenger"
                    title="Feature not available"
                    disabled="true"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border h-full">
                <i class="fa-solid fa-users text-dynamic text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-dynamic mb-2 text-center">Friends</h2>
                <div class="flex-grow mb-2">
                    <twig:InputHelper>Connect with your friends to chat with them and share your finances.</twig:InputHelper>
                </div>
                <twig:Cta
                    class="mt-auto"
                    color="accent-primary"
                    size="xs"
                    icon="fa-users"
                    label="Friends"
                    title="Friends"
                    route="profile_friendship"
                />
            </div>

            <div class="bg-secondary rounded-md p-4 flex flex-col justify-center items-center border-quaternary border-solid border h-full">
                <i class="fa-solid fa-calendar text-dynamic text-2xl mb-2"></i>
                <h2 class="text-sm font-bold text-dynamic mb-2 text-center">Transport costs management</h2>
                <div class="flex-grow mb-2">
                    <twig:InputHelper>Manage your transport costs. Add each transport you have done and calculate the total cost for annual taxes.</twig:InputHelper>
                </div>
                <twig:Cta
                    class="mt-auto"
                    color="accent-primary"
                    size="xs"
                    icon="fa-calendar"
                    label="Manage transport costs"
                    title="Feature not available"
                    disabled="true"
                />
            </div>
        </div>
    </div>
{% endblock %}
