{% extends 'base.html.twig' %}

{% block title %}Homepage {{ parent() }}{% endblock %}

{% block body %}
    <div class="container bg-secondary mx-auto px-4 rounded">
        <h1 class="text-3xl font-bold mb-8 text-white">Available budgets</h1>
    </div>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {% for year in budgets %}
                <div class="mb-6">
                    <h2 class="text-xl font-semibold mb-4">{{ year.getYear() }}</h2>
                    <div class="grid grid-cols-3 gap-2">
                        {% for month in year.getMonths() %}
                            <a href="{{ path('monthly_budget', { 'year': year.getYear(), 'month': month.getMonthNumber() }) }}"
                               class="bg-secondary text-white text-sm font-bold py-2 px-4 rounded hover:bg-secondary-hover">
                                {{ month.getMonthName() }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
