<div id="topbar-burger-menu-container">
    {{ include('components/spinner/spinner.html.twig', {width: 'w-6', height: 'h-6'}) }}
    <button id="topbar-burger-menu" @click="expanded = !expanded" class="py-1 px-2 rounded-md bg-secondary text-senary border-r border-solid border-quaternary-ring border hover:bg-secondary-hover hidden">
        <i class="fa-solid" :class="expanded ? 'fa-xmark' : 'fa-bars'"></i>
    </button>
</div>
