<div id="topbar-burger-menu-container">
    {{ include('components/spinner/spinner.html.twig', {width: 'w-6', height: 'h-6'}) }}
    <button id="js-topbar-burger-menu" class="py-1 px-2 text-white rounded-md border border-secondary-ring bg-secondary hover:bg-secondary-hover hidden">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>
