<button @click="expanded = !expanded" class="py-2 px-3 rounded-md bg-quaternary text-senary hover:bg-quaternary-hover">
    <i class="fa-solid" :class="expanded ? 'fa-xmark' : 'fa-bars'"></i>
</button>
