<div id="account-wallet-dashboard-page" class="max-w-screen-xxl mx-auto hidden">
    {{ include('account/wallet/dashboard/main/part/recap/_wallet_recap.html.twig') }}
    {{ include('account/wallet/dashboard/main/part/navigation/_wallet_navigation.html.twig') }}
    {{ include('account/wallet/dashboard/transaction/list/_transactions.html.twig') }}
</div>