@import './component/spinner.css';
@import './component/ux-autocomplete-field.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: theme('colors.primary.DEFAULT');
    --color-secondary: theme('colors.secondary.DEFAULT');
    --color-tertiary: theme('colors.tertiary.DEFAULT');
    --color-quaternary: theme('colors.quaternary.DEFAULT');
    --color-quinary: theme('colors.quinary.DEFAULT');
    --color-senary: theme('colors.senary.DEFAULT');
}

html, body {
    background-color: var(--color-secondary);
    color: white;
}

span, label, p, h1, h2, h3, h4, h5, h6, a, button {
    color: var(--color-primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
