{% set testModalContent %}
    <p class="text-dynamic">Ceci est du contenu test</p>
{% endset %}

{{ include('components/rightSideMenu/rightSideMenu.html.twig', {
    rightSideMenuId: 'accountListSideMenuTestModal',
    rightSideMenuTitle: 'Test',
    rightSideMenuContent: testModalContent,
    rightSideMenuCloseButtonId: 'closeAccountListSideMenuTestModal'
}) }}
