{# TODO AXEL: Transform into a ux twig component #}
<div class="sm:max-w-56 mx-auto">
    <div x-data="{ open: false }" class="relative inline-block mt-5 sm:mt-0 w-full">
        <label for="theme-switcher"></label>
        <select
                id="theme-switcher"
                @focus="open = true"
                @blur="open = false"
                class="appearance-none text-xs p-1 pl-3 pr-8 rounded-md w-full text-dynamic bg-quaternary border border-quaternary-ring hover:bg-quaternary-hover"
        >
            <option value="default">Default</option>
            <option value="charcoal">Charcoal</option>
            <option value="slate">Slate</option>
            <option value="graphite">Graphite</option>
            <option value="midnight">Midnight</option>
            <option value="mystic">Mystic</option>
            <option value="forest">Forest</option>
            <option value="dark">Dark</option>
            <option value="dimmed">Dimmed</option>
        </select>
        <span
            class="absolute inset-y-0 right-2 flex items-center pointer-events-none text-dynamic transition-transform duration-200"
            :class="open ? 'rotate-180' : ''"
        >
            <i class="fa-solid fa-chevron-down"></i>
        </span>
    </div>
    <twig:InputHelper>
        Select a theme from the options to customize the appearance of the application to your preference.
    </twig:InputHelper>
</div>
