{% extends 'base.html.twig' %}

{% block title %}Budget {{ budget.month }} {{ budget.year }} {{ parent() }}{% endblock %}

{% block body %}%}
    <div class="mb-4">
        {% include 'budget/partial/_main.html.twig' %}
    </div>

    <div class="mb-4">
        {% include 'budget/partial/transaction/_transactions.html.twig' %}
    </div>
{% endblock %}
