{% set actionsModalContent %}
    <div class="w-full rounded-b-md p-2">
        <div class="mb-2 bg-secondary rounded-md border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Transaction</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-3 gap-1 p-2">
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="new_transaction_wallet"
                    :routeParams="{ wallet: wallet.id, account: account.id }"
                    icon="fa-plus"
                    iconPosition="left"
                    label="Transaction"
                    extraClasses="cursor-pointer"
                />
            </div>
        </div>

        <div class="mb-2 bg-secondary rounded-md border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Wallet</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-3 gap-1 p-2">
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_new"
                    :routeParams="{ year: currentYear, account: account.id, wallet: wallet.id }"
                    icon="fa-plus"
                    iconPosition="left"
                    label="Wallet"
                    extraClasses="cursor-pointer"
                />
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_edit"
                    :routeParams="{ account: account.id, wallet: wallet.id }"
                    icon="fa-pen-to-square"
                    iconPosition="left"
                    label="Wallet"
                    extraClasses="cursor-pointer"
                />
                <twig:Cta
                    color="danger-outline"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_delete_month"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-trash-can"
                    iconPosition="left"
                    label="Delete wallet"
                    extraClasses="js-delete-wallet-button"
                    dataActionUrl="true"
                />
            </div>
        </div>

        <div class="mb-2 bg-secondary rounded-md border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Wallet - Balance</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-2 gap-1 p-2">
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_copy_left_to_spend"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-forward"
                    iconPosition="left"
                    label="Initialize starting balance"
                    extraClasses="js-copy-left-to-spend-button"
                    dataActionUrl="true"
                />
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_reset_balance"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-backward"
                    iconPosition="left"
                    label="Reset starting balance"
                    extraClasses="js-reset-start-balance-button"
                    dataActionUrl="true"
                />
            </div>
        </div>

        <div class="mb-2 bg-secondary rounded-md border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Wallet - Create</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-2 gap-1 p-2">
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_create_previous_month"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-plus"
                    iconPosition="left"
                    label="Create previous month's wallet"
                    extraClasses="js-create-previous-wallet-button"
                    dataActionUrl="true"
                />
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_create_next_month"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-plus"
                    iconPosition="left"
                    label="Create next month's wallet"
                    extraClasses="js-create-next-wallet-button"
                    dataActionUrl="true"
                />
            </div>
        </div>

        <div class="mb-2 bg-secondary rounded-md border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Wallet - Copy</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-1 p-2">
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_copy_previous_month_incomes"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-copy"
                    iconPosition="left"
                    label="Copy previous transaction incomes"
                    extraClasses="js-copy-incomes-button"
                    dataActionUrl="true"
                />
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_copy_previous_month_bills"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-copy"
                    iconPosition="left"
                    label="Copy previous transaction bills"
                    extraClasses="js-copy-bills-button"
                    dataActionUrl="true"
                />
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_copy_previous_month_expenses"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-copy"
                    iconPosition="left"
                    label="Copy previous transaction expenses"
                    extraClasses="js-copy-expenses-button"
                    dataActionUrl="true"
                />
                <twig:Cta
                    color="quinary"
                    size="sm"
                    fullWidth="false"
                    route="account_wallet_copy_previous_month_debts"
                    :routeParams="{ year: currentYear, month: currentMonth, account: account.id, wallet: wallet.id }"
                    icon="fa-copy"
                    iconPosition="left"
                    label="Copy previous transaction debts"
                    extraClasses="js-copy-debts-button"
                    dataActionUrl="true"
                />
            </div>
        </div>
    </div>
{% endset %}

{{ include('components/sideMenu/modal.html.twig', {
    modalId: 'walletSideMenuActionsModal',
    modalTitle: 'Actions',
    modalContent: actionsModalContent,
    closeModalId: 'closeWalletSideMenuActionsModal'
}) }}
