{% props color = 'primary', size = 'md', type = 'button' %}

{% set button = cva({
    base: 'inline-flex items-center justify-center border border-transparent font-medium shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2',
    variants: {
        color: {
            primary: 'bg-primary hover:bg-primary-hover focus:ring-primary-ring',
            secondary: 'bg-secondary hover:bg-secondary-hover focus:ring-secondary-ring',
            success: 'bg-success hover:bg-success-hover focus:ring-success-ring',
            danger: 'bg-danger hover:bg-danger-hover focus:ring-danger-ring',
            warning: 'bg-warning hover:bg-warning-hover focus:ring-warning-ring',
        },
        size: {
            sm: 'text-sm py-1.5 px-2.5 rounded-md',
            md: 'text-base py-2 px-4 rounded-lg',
            lg: 'text-lg py-2 px-4 rounded-xl',
        }
    }
}) %}

<button type="{{ type }}" class="{{ button.apply({color, size}) }}">
    {% block content %}{% endblock %}
</button>