<div id="clockContainer" class="bg-accent rounded-md text-center p-4 flex justify-center items-center mb-2">
    {{ include('components/spinner/spinner.html.twig', {width: 'w-8', height: 'h-8'}) }}
    <span id="clock" class="text-xs text-white font-bold hidden"></span>
</div>
