<div id="sidemenu-clock-container" class="bg-tertiary rounded-md text-center p-4 flex justify-center items-center">
    {{ include('components/spinner/spinner.html.twig', {width: 'w-8', height: 'h-8'}) }}
    <span id="sidemenu-clock" class="text-xs text-dynamic font-bold hidden"></span>
</div>
