<div class="mt-2">
    <label for="profile-search-friends" class="hidden"></label>
    <input type="text" id="profile-search-friends" placeholder="Search friends..." class="w-full p-2 rounded-md bg-secondary border border-quaternary text-white mb-2">
</div>
