<div class="hidden flex-col space-y-2 mt-3 w-full md:hidden" id="js-mobile-menu">
    <a href="{{ path('app_homepage') }}" class="block text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
        <i class="fa-solid fa-house mr-1"></i>
        Home
    </a>
    <a href="{{ path('app_logout') }}" class="block text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
        <i class="fa-solid fa-right-from-bracket mr-1"></i>
        Logout
    </a>

    <a href="{{ path('budget_new') }}" class="block text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
        <i class="fa-solid fa-plus mr-1"></i>
        Add budget
    </a>
    <a href="{{ path('transaction_new') }}" class="block text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
        <i class="fa-solid fa-plus mr-1"></i>
        Add transaction
    </a>
    <a href="#" class="block text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
        <i class="fa-solid fa-bell mr-1"></i>
        Notes
    </a>
    <a href="#" class="block text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
        <i class="fa-solid fa-screwdriver-wrench mr-1"></i>
        Admin panel
    </a>
</div>
