<div class="hidden flex-col space-y-2 mt-3 w-full md:hidden" id="js-mobile-menu">
    <a href="{{ path('app_homepage') }}" class="block text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
        <i class="fa-solid fa-house mr-1"></i>
        Home
    </a>
</div>
