<div class="bg-primary p-2 flex items-center justify-between">
    <span class="font-bold text-xl text-white">SPENDING WISE</span>
    <div class="add-transaction-button flex items-center justify-center bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
        <span class="text-center font-bold text-white"><i class="fa-solid fa-plus mr-1"></i>Add transaction</span>
    </div>
</div>