{% extends 'base.html.twig' %}

{% block title %}Page not found {{ parent() }}{% endblock %}

{% block body %}
    <div class="flex justify-center items-center h-screen">
        <div class="text-center bg-accent p-6 rounded-md shadow-md w-full max-w-md">
            <h1 class="text-6xl font-bold text-red-600 mb-4">404</h1>
            <p class="text-2xl mb-4">Oops! The page you are looking for does not exist.</p>
            <p class="text-lg mb-4">It seems that the page is missing or has been deleted.</p>

            <a href="{{ path('wallet_list') }}" class="text-center font-bold bg-primary hover:bg-primary-hover text-white py-2 px-4 rounded">
                Return to wallet list
            </a>
        </div>
    </div>
{% endblock %}
