{% extends 'base.html.twig' %}

{% block title %}Internal Server Error - {{ parent() }}{% endblock %}

{% block body %}
    <div class="flex justify-center items-center h-screen">
        <div class="text-center bg-senary p-6 rounded-md shadow-md w-full max-w-md">
            <h1 class="text-6xl font-bold mb-4">500</h1>
            <p class="text-2xl mb-4">Internal Server Error</p>
            <p class="text-lg mb-4">Something went wrong on our end. Please try again later.</p>

            <a href="{{ path('account_list') }}" class="text-center font-bold bg-primary hover:bg-primary-hover text-dynamic py-2 px-4 rounded-md">
                Return to account list
            </a>
        </div>
    </div>
{% endblock %}
