<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
    <div class="flex flex-col">
        {{ include('wallet/partial/transaction/_transaction.html.twig', {transactionCategory: transactionCategories.Incomes}) }}
    </div>
    <div class="flex flex-col">
        {{ include('wallet/partial/transaction/_transaction.html.twig', {transactionCategory: transactionCategories.Bills}) }}
    </div>
    <div class="flex flex-col">
        {{ include('wallet/partial/transaction/_transaction.html.twig', {transactionCategory: transactionCategories.Expenses}) }}
    </div>
    <div class="flex flex-col">
        {{ include('wallet/partial/transaction/_transaction.html.twig', {transactionCategory: transactionCategories.Debts}) }}
    </div>
</div>
